.absolute-floating-container
  position: fixed
  min-width: 250px
  min-height: 150px
  max-height: 400px
  overflow: auto
  width: 250px
  border-radius: 6px
  background: #ffffff
  box-shadow: $component_boxshadow
  z-index: 999 !important

.just-a-list
  padding: 10px
  li
    list-style-type: none
    padding: 10px
    cursor: pointer
    &:hover
      background: #ebeeee


.pin-code-container
  padding: 10px
  background: #ffffff
  box-shadow: $component_boxshadow
  .pin-code-items
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    .pin-code-item
      width: 50px
      height: 50px
      min-width: 50px
      min-height: 50px
      border-radius: 4px
      background: #ebeeee
      margin: 10px 5px
      display: flex
      justify-content: center
      align-items: center
      .text
        font-size: 30px
        font-weight: 600
        user-select: none
.tab-container-picker
  margin: 20px
  .tab-header
    display: flex
    justify-content: center
    padding: 10px

    .tab-button
      width: 100%
      height: 50px
      border-radius: 6px
      cursor: pointer
      display: flex
      justify-content: center
      align-items: center
      &.active
        background: #EBEEEE
      &:hover
        background: #EBEEEE
      .text span
        font-size: 18px
        color: #050505
        user-select: none
  .tab-body
    padding: 10px
    .tab-content
      display: none
      &.active
        display: block !important

.data-bordered-container
  padding: 10px
  border-radius: 6px
  border: 1px solid #EBEEEE
  min-height: 600px
  background: #ffffff
  box-shadow: $component_boxshadow
  margin: 2%
  .content
    padding: 20px
  .content-as-list
    padding: 10px
    .list-item-container
      padding: 10px
      display: flex
      justify-content: space-between
      cursor: pointer
      border-radius: 6px
      user-select: none
      &:hover
        background: #ebeeee
      .left
        color: $textgray
        p
          font-size: 20px
          font-weight: bold
      .right
        display: flex
        justify-content: center
        align-items: center

.image-container
  width: 100%
  padding: 30px
  display: flex
  justify-content: center
  align-items: center
  img,svg
    width: 80%
    height: auto


.cards-flex-container
  display: flex
  padding: 20px
  flex-wrap: wrap
  .card-flex-container
    min-width: 260px
    height: 120px
    padding: 20px 25px
    border-radius: 6px
    background: #fff
    box-shadow: $global_boxshadow
    margin: 20px
    cursor: pointer

.cards-title
  padding: 0px 40px
  h2
    color: $textgray

.main-two-flex-container
  padding: 20px
  display: flex
  .main-flex-container
    width: 100%
    height: 100%
    background: #ffffff
    border-radius: 15px
    margin: 10px
    box-shadow: $global_boxshadow
    min-height: 400px
    padding: 20px
    &.column-flex
      display: flex
      justify-content: center
      flex-direction: row
      .container-head, .container-body
        width: 100%
        height: 100%

    .title
      padding: 10px
      h2
        color: $textgray
.newsfeed-parent
  width: 100%
  min-height: 100%
  display: flex
  justify-content: center
  .newsfeed-flex
    display: flex
    gap: 10px
.newsfeed-main-container
  width: 600px
  min-height: 85%
  padding: 20px
  border-radius: 6px
  background: #ffffff
  box-shadow: $global_boxshadow
.newsfeed-announcement
  padding: 20px
  width: 300px
  height: 800px
  border-radius: 6px
  //background: #ffffff
  //box-shadow: $global_boxshadow
  position: sticky !important
  top: 30px

.post-container
  padding: 20px
  border-radius: 6px
  background: #ffffff
  box-shadow: $component_boxshadow
  margin: 20px 10px
  .post-head
    display: flex
    .photo
      margin-right: 10px
      .image
        width: 50px
        height: 50px
        border-radius: 4px
        background: #ebeeee
        img
          width: 100%
          height: 100%
          border-radius: 4px
    .texts
      color: $textgray

      p.primary
        font-size: 18px
        font-weight: 600
      p.secondary
        font-size: 14px
  .post-body
    padding: 10px 0
    font-size: 16px
    line-height: 18px
    .post-content
      padding: 20px 10px
  .post-footer
    padding: 10px 0
    .reaction-container
      display: flex
      align-items: center
      .date-content
        padding: 10px 0
        small
          color: $textgray
      .reaction-content
        margin-left: 20px
        .text-button
          .text span
            font-size: 13px !important
    .reaction-content-result
      padding: 10px 20px
      font-size: 13px
      color: $textgray
      border-radius: 4px
      background: lightgray
  .post-media
    .post-img
      width: 100% !important
      height: auto !important
.post-creator-container
  padding: 20px
  border-radius: 6px
  background: #ffffff
  box-shadow: $component_boxshadow
  margin: 20px 10px
  .creator-head
    display: flex
    .photo
      margin-right: 10px
      .image
        width: 50px
        height: 50px
        border-radius: 4px
        background: #ebeeee
        img
          width: 100%
          height: 100%
          border-radius: 4px
    .texts
      color: $textgray

      p.primary
        font-size: 18px
        font-weight: 600
      p.secondary
        font-size: 14px
  .creator-body
    padding: 10px 0
    .textarea-container
      border-radius: 4px
      background: #F0F2F5
      padding: 20px
      height: 100px
      cursor: pointer


.main-creator
  .post-content
    width: 100%
    max-height: 500px !important
    overflow-y: auto !important
    overflow-x: hidden !important
  .creator-upload
    width: 100%
    min-height: 200px
    #drop_zone
      width: 100%
      height: 100%
      background: #f0f2f5
      border-radius: 4px
      min-height: 100px
      display: flex
      justify-content: center
      align-content: center
      align-items: center
  .post-gallery
    display: none
    &.show
      display: block !important